.for-you__title {
    font-size: 22px;
    font-weight: 700;
    color: #032b41;
    margin-bottom: 16px;
}

.for-you__sub--title {
    font-weight: 300;
    color: #394547;
    margin-bottom: 16px;
}

.for-you__recommended--books {
    display: flex;
    overflow-x: hidden;
    gap: 16px;
    scroll-snap-type: mandatory;
    scroll-snap-type: x;
    margin-bottom: 32px;
}