.row {
  max-width: 1070px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}

.container {
  padding: 40px 0;
  width: 100%;
}

.section__title {
  font-size: 32px;
  color: #032b41;
  text-align: center;
  margin-bottom: 32px;
  font-weight: bold;
  animation: fade-in 300ms ease-in; 
}

.btn {
  background-color: #2bd97c;
  color: #032b41;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 200ms;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 180px;
}

.btn:hover:not(:disabled) {
  background-color: #20ba68;
}

.btn:active {
  transform: translateY(1px);
}

.home__cta--btn {
  max-width: 300px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* REVIEWS */

.reviews__wrapper {
  max-width: 600px;
  margin: 0 auto;
  animation: fade-in 300ms ease-in; 
}

@keyframes fade-in {
  0% {
    opacity: 0;
    filter: contrast(0.96);
    transform: translateX(10vw);
  }
  100% {
    opacity: 1;
    filter: contrast(1);
    transform: translateX(0);
  }
}

.review {
  background-color: #fff3d7;
  padding: 16px;
  margin-bottom: 32px;
  border-radius: 4px;
  font-weight: 300;
}

.review__header {
  color: #032b41;
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}

.review__body {
  color: #394547;
  letter-spacing: 0.3px;
  line-height: 1.4;
}

.review__stars {
  display: flex;
}

.review__stars svg {
  width: 16px;
  height: 16px;
  fill: #0564f1;
}

.reviews__btn--wrapper {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  
  .section__title {
    font-size: 24px;
  }

  .review__body {
    font-size: 14px;
  }

}
