.for-you__title {
  font-size: 22px;
  font-weight: 700;
  color: #032b41;
  margin-bottom: 16px;
}

.for-you__sub--title {
  font-weight: 300;
  color: #394547;
  margin-bottom: 16px;
}

.for-you__recommended--books {
  display: flex;
  overflow-x: hidden;
  gap: 16px;
  scroll-snap-type: mandatory;
  scroll-snap-type: x;
  margin-bottom: 32px;
}

.for-you__recommended--books-link {
  position: relative;
  scroll-snap-align: start;
  padding: 32px 12px 12px;
  text-decoration: none;
  border-radius: 4px;
  max-width: 200px;
  width: 100%;
}

.recommended__book--title {
  font-size: 16px;
  font-weight: 700;
  color: #032b41;
  margin-bottom: 8px;
}

.recommended__book--title-skl {
  width: 170px;
  height: 19px;
  margin-bottom: 8px;
  background: linear-gradient(90deg, #f0f0f08e 25%, #e8e8e8 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
}

.book__image--wrapper {
  height: 140px;
  width: 140px;
  min-width: 140px;
}

.book__img--wrapper {
  width: 172px;
  height: 172px;
  margin-bottom: 8px;
}

.book__image {
  width: 100%;
  height: 100%;
}

.book__image--skeleton {
  width: 172px;
  height: 172px;
  background: linear-gradient(90deg, #f0f0f08e 25%, #e8e8e8 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
}

.recommended__book--author {
  font-size: 14px;
  color: #6b757b;
  font-weight: 300;
  margin-bottom: 8px;
}

.recommended__book--author-skl {
  width: 120px;
  height: 17px;
  margin-bottom: 8px;
  background: linear-gradient(90deg, #f0f0f08e 25%, #e8e8e8 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
}

.recommended__book--sub-title {
  font-size: 14px;
  color: #394547;
  margin-bottom: 8px;
}

.recommended__book--sub-title-skl {
  width: 160px;
  height: 34px;
  margin-bottom: 8px;
  background: linear-gradient(90deg, #f0f0f08e 25%, #e8e8e8 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
}

.recommended__book--details-wrapper {
  display: flex;
  gap: 8px;
  align-items: center;
}

.recommended__book--details-wrapper-skl {
  width: 100px;
  height: 17px;
  margin-bottom: 8px;
  background: linear-gradient(90deg, #f0f0f08e 25%, #e8e8e8 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
}

.recommended__book--details {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  font-weight: 300;
  color: #6b757b;
}

.recommended__book--details-icon {
  display: flex;
  width: 16px;
  height: 16px;
}

.recommended__book--details-icon svg {
  width: 90%;
  height: 90%;
}


@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

@media (max-width: 768px) {
  .for-you__recommended--books {
    flex-wrap: wrap;
    justify-content: center;
  }
}