.row {
  max-width: 1070px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}

.container {
  padding: 40px 0;
  width: 100%;
}

.inner__wrapper {
  display: flex;
  gap: 16px;
}


@media (max-width: 992px) {
    .inner__wrapper {
        flex-direction: column;
        gap: 32px;
    }


}