@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.btn {
  background-color: #2bd97c;
  color: #032b41;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 180px;
}

.button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
}

.btn:hover {
  cursor: pointer;
}

.button:active {
  transform: translateY(1px);
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.65;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 200px;
  width: calc(100% - 200px);
  transition: all 0.3s;
}

.wrapper__full {
  margin-left: 0;
  width: 100%;
}


@media (max-width: 768px) {
  .wrapper {
    margin-left: 0;
    width: 100%;
  }
}

#__next-build-watcher,
#__next-dev-indicator,
#__next-build-indicator,
#__next-dev-overlay-badge,
.nextjs-dev-overlay,
[data-nextjs-dev-overlay] {
  display: none !important;
}
