.summary {
  position: relative;
  width: 100%;
  overflow-y: auto;
  height: calc(100vh - 160px);
}

.summary__load {
  position: relative;
  width: 100%;
  overflow-y: hidden;
  height: calc(100vh - 160px);
}

.audio__book--summary {
  white-space: pre-line;
  padding: 24px;
  max-width: 800px;
  margin: 0 auto;
}

.audio__book--summary-title {
  color: #032b41;
  font-size: 24px;
  border-bottom: 1px solid #e1e7ea;
  margin-bottom: 32px;
  padding-bottom: 16px;
  line-height: 1.5;
}

.audio__book--summary-text {
  white-space: pre-line;
  line-height: 1.4;
  color: #032b41;
  transition: font-size 0.2s ease;
}

.audio__book--summary-text.small {
  font-size: 16px;
}
.audio__book--summary-text.medium {
  font-size: 18px;
}
.audio__book--summary-text.large {
  font-size: 22px;
}
.audio__book--summary-text.xlarge {
  font-size: 26px;
}

.audio__book--spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.audio__book--spinner svg {
  width: 64px;
  height: 64px;
  color: #032b41;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(1turn);
  }
}

@media (max-width: 768px) {
  .audio__wrapper {
    height: 180px;
    padding: 16px 24px;
    flex-direction: column;
  }

  .audio__wrapper > div {
    width: 100%;
    justify-content: center;
  }

  .audio__track--image-mask {
    max-width: 80px;
  }

  .audio__book--summary-title {
    font-size: 20px;
  }

  .summary {
    height: calc(100vh - 260px);
  }

  .audio__book--summary-text.small,
  .audio__book--summary-text.medium,
  .audio__book--summary-text.large,
  .audio__book--summary-text.xlarge {
    font-size: 14px;
  }
}
