.menu__modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1e3c72;
  background: -webkit-linear-gradient(
    to top,
    #2a5298,
    #1e3c72
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #2a5298,
    #1e3c72
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  z-index: 10000;
  opacity: 0;
  animation: overlayFade 0.2s ease forwards;
}

@keyframes overlayFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.menu__modal-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: none;
  padding: 0;
  margin: 0;
  transform: translateX(-100%);
  animation: slideIn 0.6s ease forwards;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.menu__modal-item {
  padding: 16px 24px;
  font-size: 18px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menu__modal-item:hover {
  background-color: rgba(80, 80, 80, 0.615);
}

.menu__modal-item:active {
  transform: scale(0.97);
}

.noentry {
  cursor: not-allowed;
}

.menu__modal-close {
  position: absolute;
  top: 6rem;
  right: 7rem;
  color: white;
  font-size: 24px;
  cursor: pointer;
  transition: all 250ms ease;
}

.menu__modal-close:hover {
  transform: scale(1.08);
}
