.for-you__title {
    font-size: 22px;
    font-weight: 700;
    color: #032b41;
    margin-bottom: 16px;
}

.for-you__sub--title {
    font-weight: 300;
    color: #394547;
    margin-bottom: 16px;
}

.for-you__recommended--books {
    display: flex;
    overflow-x: auto;
    gap: 16px;
    scroll-snap-type: mandatory;
    scroll-snap-type: x;
    margin-bottom: 32px;
}

.finished__books--block-wrapper {
    background-color: #f1f6f4;
    max-width: -moz-fit-content;
    max-width: fit-content;
    display: flex
;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 32px;
    border-radius: 12px;
    margin: 0 auto 56px;
    text-align: center;
}

.finished__books--title {
    color: #042330;
    font-weight: 600;
    font-size: 18px;
}

.finished__books--sub-title {
    color: #394547;
}